@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Mega", sans-serif;
  user-select: none;
}

body {
  min-height: 100vh;
  background-color: #fff4ef;
}

a {
  color: inherit
}

img {
  pointer-events: none;
}

#card-list {
  padding: 32px;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(64px, 200px));
  justify-content: center; 
}

.card-container {
  perspective: 1000px;
}

.card {
  position: relative;
  aspect-ratio: 9 / 12;
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid #1c1c1c;
  box-shadow: 4px 2px 0px 2px #1c1c1c;
}

.card-image {
  overflow: hidden;
  width: 45%;
  aspect-ratio: 1/1;
}

.card-image img {
  height: 100%;
  width: 100%;
  display: flex;
}

.card-badge {
  position: absolute;
  bottom: 8px;
  right: -20px;
  background-color: #f8d6b3;
  border: 3px solid #1c1c1c;
  border-radius: 6px;
  box-shadow: 2px 2px 0px 0.5px #1c1c1c;
  padding: 2px 6px;
  font-size: 16px;
  color: #1c1c1c;
  font-weight: 500;
}

.card-container:hover .card {
  transform: rotateY(180deg);
}

.card-back {
  display: flex;
  gap: 4px;
  flex-direction: column;
  transform: rotateY(180deg);
}

.back-title {
  font-size: 18px;
}

.back-description {
  width: 100%;
  font-size: 11px;
  padding: 12px;
  text-align: center;
}